/*Series Card UI design*/
html, body {
    height: 100%;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.12), 0 2px 4px 0 rgba(0, 0, 0, 0.8);
    width: 475px;
    height: 258px;
}
.card-left {
    background: linear-gradient(to bottom, #21c8f6, #637bff);
}
.color-inherit {
    color: inherit;
}
.series-icon {
    width: 80px;
    height: 80px;
}
.meta-icon {
    width: 15px;
    height: 15px;
}
.card-skill-button {
    background: rgba(0, 0, 0, 0.4);
}
